@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel-Black.eot");
  src: url("/fonts/Sahel-Black.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel-Black.woff2') format('woff2'), */ url("/fonts/Sahel-Black.woff") format("woff"),
    url("/fonts/Sahel-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel-Bold.eot");
  src: url("/fonts/Sahel-Bold.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel-Bold.woff2') format('woff2'), */ url("/fonts/Sahel-Bold.woff") format("woff"),
    url("/fonts/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Sahel";
  src: url("/fonts/Sahel.eot");
  src: url("/fonts/Sahel.eot?#iefix") format("embedded-opentype"), /* url('/fonts/Sahel.woff2') format('woff2'), */ url("/fonts/Sahel.woff") format("woff"),
    url("/fonts/Sahel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Sahel", sans-serif;
}

.hov {
  transition: all 0.3s ease;
}

.mybg {
  background: #6d5842 !important;
  color: white !important;
  border-radius: 8px !important;
}
.mybg:hover {
  background: #6d5842d2 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
  box-shadow: 0 0 0px 1000px white inset !important;
  -webkit-text-fill-color: inherit !important;
  background-color: white !important;
}
